.informacion {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
}
.img-info {
  width: 350px;
  height: 150px;
}
.pais-bandera,
.informacion-pais {
  padding: 20px;
  
}

@media screen and (max-width: 767px) {
  .informacion {
    flex-direction: column; 
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
  }

  .img-info {
    width: 100%; 
    height: auto; 
    max-width: 350px;
  }
}
